.moviesCard{
  width: 270px;
  display: flex;
  flex-direction: column;
}

.moviesCard__trailerLink{
  height: 151px;
  text-decoration: none;
  transition: opacity 0.35s linear;
}

.moviesCard__trailerLink:hover{
  opacity: .8;
  cursor: pointer;
}

.moviesCard__preview{
  width: 100%;
  height: 151px;
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover
}

.moviesCard__text{
  height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moviesCard__title{
  width: 226px;
  margin: 0 20px 0 0;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.moviesCard__heart-button{
  background-image: url('../../images/heart-button.svg');
  background-color: initial;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  transition: opacity .5s linear;
}

.moviesCard__heart-button:hover{
  opacity: .8;
  cursor: pointer;
}

.moviesCard__heart-button-red{
  background-image: url('../../images/heart-button-red.svg');
  background-color: initial;
    background-repeat: no-repeat;
    border: none;
}

.moviesCard__heart-button-saved{
  background-image: url('../../images/saved.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  background-color: #313131;
}

.moviesCard__duration{
  margin: 6px 0 0;
  color: #8B8B8B;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 900px){
  .moviesCard{
      width: 339px;
  }

  .moviesCard__trailerLink{
      height: 190px;
  }

  .moviesCard__preview{
      height: 190px;
  }
}

@media screen and (max-width: 560px) {
  .moviesCard{
      width: 300px;
  }

  .moviesCard__trailerLink{
      height: 168px;
  }

  .moviesCard__preview{
      height: 168px;
  }

  .moviesCard__title{
      width: 240px;
      margin-right: 36px;
      font-size: 12px;
  }
}