card {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }

  .card__image {
    width: 100%;
    height: 203px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card__container {
    /* position: relative; */
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #222222;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .card__time {
    padding: 17px 0 16px 0;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #8B8B8B;
  }

  .card__text {
    margin: 0;
    padding-top: 16px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15.73px;
    max-width: 250px;
  }

  .card__container-button {
    display: flex;
    align-items:center;
  }

  .card__like-button {
    /* position: absolute;
    top: 19px;
    right: 24px;
    padding: 0; */
    border: none;
    background-color: transparent;
    background-image: url(../../images/like.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 12px;
    cursor: pointer;
  }

  .card__like-button:hover {
    opacity: 0.6;
  }

  .card__like-button_active {
    background-image: url(../../images/like_active.svg);
    /* position: absolute;
    top: 19px;
    right: 24px; */
    padding: 0;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 14px;
    height: 12px;
    cursor: pointer;
  }

  .card__delete-button {
    width: 16px;
    height: 16px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(../../images/delete_button.svg);
    border-radius:50%
  }

  .card__delete-button:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  @media screen and (max-width: 769px) {
  .card__container {
       padding: 0 4px;

     }
     .card__info-container {
      padding: 11px 0px;
     }
     .card__text {
      padding: 0;
     }
    .card__time {
      padding: 34px 0 16px 0;
    }
    .card__image {
      height: 190px;
    }
  }

  @media screen and (max-width: 576px) {
    .card__image {
      height: 168px;
    }
  }