.profile{
  height: 100vh;
  padding-top: 74px;
  background-color: #202020;
}

.profile__title{
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__form{
  max-width: 410px;
  margin: 123px auto 0;
  display: flex;
  flex-direction: column;
}

.profile__label{
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__label:nth-child(1){
  padding: 0 0 16px;
  border-bottom: 1px solid #424242;
}

.profile__input{
  border: none;
  outline: none;
  color: #FFF;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
}

.profile__inputNotValid{
  color: #fff;
}

.profile__input-editing:focus{
  border-bottom: 1px solid #4285F4;
}

.profile__error{
  height: 12px;
  margin: 2px 0 3px;
  text-overflow: ellipsis;
  color: #EE3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  white-space: nowrap;
}

.profile__errorMessage{
  height: 14px;
  margin: 162px 0 20px;
  color: #FF004C;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__button{
  height: 16px;
  margin: 0;
  border: none;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity .5s linear;
}

.profile__button:hover{
  opacity: .8;
  cursor: pointer;
}

.profile__signout{
  padding: 0;
  margin-top: 16px;
  color: #EE3465;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  border: none;
  background-color: transparent;
  transition: opacity .5s linear;
}

.profile__signout:hover{
  opacity: .8;
  cursor: pointer;
}

.profile__submit-button{
  margin: 199px 0 0;
  height: 45px;
  border: none;
  background-color: #4285F4;
  border-radius: 3px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: opacity .5s linear;
}

.profile__submit-button:not(.profile__submit-button_disable):hover{
  opacity: .8;
  cursor: pointer;
}

.profile__submit-button_disable{
  background-color: #595959;
  color: #1f1f1f;
}

@media screen and (max-width: 900px){
  .profile{
      padding-top: 236px;
  }

  .profile__form{
      margin-top: 96px;
  }

  .profile__errorMessage{
      margin: 152px 0 20px;
  }

  .profile__submit-button{
      margin: 189px 0 0;
  }
}

@media screen and (max-width: 560px){
  .profile{
      padding: 70px 30px 0;
  }

  .profile__form{
      margin-top: 80px;
  }

  .profile__errorMessage{
      margin: 321px 0 20px;
  }

  .profile__button{
      height: 15px;
      font-size: 12px;
  }

  .profile__signout{
      font-size: 12px;
  }

  .profile__submit-button{
      margin: 356px 0 0;
      font-size: 12px;
  }
}