    .portfolio {
    box-sizing: border-box;
    padding: 0 70px 125px 70px;
    }

    .portfolio__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    margin-bottom: 30px;
    }

    .portfolio__list {
    list-style-type: none;
    padding: 0;
    }

    .portfolio__link {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
    }

    .portfolio__link:hover {
    color: #3DDC84;
    }

    .portfolio__link-border {
    border-bottom: 1px solid #424242;
    padding-bottom: 19px;
    }

    .portfolio__text {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    }

    @media screen and (max-width: 1023px) {
    .portfolio {
        padding: 0 50px 90px 50px;
    }

    .portfolio__text {
        font-size: 28px;
    }
    }

    @media screen and (max-width: 576px) {
    .portfolio {
        padding: 0 14px 70px 14px;
    }

    .portfolio__title {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .portfolio__text {
        font-size: 18px;
        line-height: 28px;
    }
    }