.promo {
  box-sizing: border-box;
  padding: 50px 0 60px 0;
  max-width: 100%;
  margin: 0;
  display: flex;
  background-color: #073042;
}

.promo__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1140px;
}

.promo__title {
  color: #FFF;
  margin: 0;
  padding: 0 0 100px 0;
  max-width: 626px;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  align-self: flex-start;
}

.promo__image {
  width: 722px;
  height: 244px;
  align-self: flex-end;
}

@media screen and (max-width: 1023px) {
  .promo {
    padding: 20px 20px 0 20px;
  }
  .promo__container {
    min-height: 834px;
  }
  .promo__title {
    padding: 282px 0 140px 0;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin: 0 auto;
  }
  .promo__image {
    height: 230px;

  }
}

@media screen and (max-width: 769px) {
  .promo {
    padding: 14px 14px 0 14px;
  }
  .promo__container {
    min-height: 630px;
    overflow: hidden;
  }
  .promo__title {
    padding: 183px 10px 60px 10px;
    max-width: 300px;
    font-size: 31px;
    line-height: 39px;
  }
  .promo__image {
    align-self: center;
    padding-bottom: 47px;
  }
}
@media screen and (max-width: 576px) {
.promo__title {
  padding: 171px 0px 60px 0px;
  max-width: 300px;
  font-size: 30px;
  line-height: 39px
}
}