
.section-title {
  color: #fff;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #DADADA;
}

@media screen and (max-width: 1023px) {
  .section__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }
}