.searchForm {
  padding: 70px 70px 38px;
  background-color: #202020;

}

.searchForm__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  max-width: 1140px;
  margin: 0 auto;
}



.searchForm__input {
  min-height: 48px;
  background-color: #2F2F2F;
  padding: 0 0 0 22px;
  border: none;
  width: calc(100% - 102px);
  text-align: start;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
  color: #8B8B8B;
  cursor:pointer;
}

.searchForm__input:focus{
  background-color: #313030;
}


.searchForm__button {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  width: 70px;
  height: 44px;
  border: none;
  background-color: #4285F4;
  border-radius: 3px;
}

.searchForm__button:not(.searchForm__button_disable):hover {
  opacity: .8;
  cursor: pointer;
}

.searchForm__button_disable {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.searchForm__error {
  display: block;
  height: 12px;
  margin: 20px 0 0;
  text-overflow: ellipsis;
  color: #EE3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}


@media screen and (max-width: 900px) {
  .searchForm{
    padding: 80px 30px 77px;
  }
}

@media screen and (max-width: 560px) {
  .searchForm{
    padding: 80px 10px 13px;
  }

  .searchForm__form{
    flex-wrap: wrap;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }

  .searchForm__search{
    width: 100%;
    padding: 19px;
    background-color: #2F2F2F;
    border-radius: 9px;
  }

  .searchForm__input{
    background-image: none;
    text-indent: 0;
  }
}