.header {
  padding: 0 70px;
  min-height: 74px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.logo:hover {
  opacity: .8;

}

.header__button-container {
  margin-left: auto;
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
}

.header__button-container-films {
  padding-left: 100px;
  display: flex;
  gap: 16px;
  list-style: none;
}

.header__button {
  min-height: 32px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-decoration: none;

}

.header__button_active {
  font-weight: 500;
}

.header__button:hover {
  cursor: pointer;
  color: #3DDC84;
}

.header__button-green {
  color: #000;
  background-color: #3DDC84;
  min-width: 76px;
  border-radius: 3px;
}

.header__button-green:hover {
  cursor: pointer;
  background-color: #000;
}

.header__account-button {
  display: flex;
  align-items: center;
  gap: 13px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  width: 100px;
  height: 30px;
  background: transparent;
}

.header__account-button:hover {
  cursor: pointer;
  color: #3DDC84;
}

.header__account-image {
  padding: 9.7px 9.8px 9.6px 9.8px;
  background-color: #313131;
  width: 10.38px;
  height: 10.67px;
  border-radius: 6px;
}

.header__account-image:hover {
  cursor: pointer;
  background-color: #3DDC84;
}

.header__burger-button {
  padding: 0;
  width: 44px;
  height: 44px;
  display: none;
  background: transparent;
  border: none;
  justify-self: center;
  border-radius: 3px;


}

.header__burger-button:hover {
  background-color: #3DDC84;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .header {
    padding: 0 30px;
  }

  .header__button-container-films {
    display: none;
  }

  .header__account-button {
    display: none;
  }

  .header__burger-button {
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding: 0 14px;
    margin-top: 0;
  }

  .header__button-container {
    gap: 14px;
  }

  .header__button {
    min-height: 26px;
    font-size: 10px;
    line-height: 16px;
  }

  .header__burger-button {
    width: 40px;
    height: 43px;
  }
  .header__button-green {
    min-width: 56px;

  }

  .header__button-black {
    min-width: 54px;
  }
}