.header{
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 70px;
  height: 74px;
}

.header_main{
  background-color: #202020;
}

.header__link-logo{
  display: block;
  width: 38px;
  height: 38px;
  background-image: url('../../images/logo.svg');
  transition: opacity .5s linear;
}

.header__link-logo:hover{
  opacity: .8;
  cursor: pointer;
}

.header__infoblock{
  display: flex;
}

.header__signup{
  padding: 8px 30px;
  color: #FFF;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  transition: opacity .5s linear;
}

.header__signup:hover{
  opacity: .7;
  cursor: pointer;
}

.header__signin{
  padding: 8px 20px;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  background-color: #3DDC84;
  transition: opacity .5s linear;
}

.header__signin:hover{
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 900px){
  .header{
      padding: 0 30px;
  }
}

@media screen and (max-width: 560px){
  .header{
      padding: 0 14px;
  }

  .header__signup{
      padding: 5px 14px;
      font-size: 10px;
  }

  .header__signin{
      padding: 5px 12px;
      font-size: 10px;
  }
}