.filterCheckbox{
  margin: 0 auto;
  padding-top: 31px;
  display: flex;
  justify-content: center;
}


.filterCheckbox__group{
  position: relative;
}

.filterCheckbox__input{
  width: 36px;
  height: 20px;
  border: none;
  outline: none;
  background-color: #EBEBEB;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  appearance: none;
}
.filterCheckbox__input:hover{
  background-color: #e1dcdc;
}
.filterCheckbox__input::after{
  height: 8px;
  width: 8px;
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #F5F5F5;
  content: '';
  border-radius: 50%;
  transition: 0.3s ease;
}
.filterCheckbox__input:checked::after{
  height: 8px;
  width: 8px;
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: #fff;
  content: '';
  border-radius: 50%;
  transition: 0.4s ease;
  transform: translate(16px);
}
.filterCheckbox__input:checked{
  background-color: #3DDC84;
}


.filterCheckbox__span{
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-left: 12px;
  color: #fff;
}


@media screen and (max-width: 900px) {
  .filterCheckbox{
    padding-top: 41px;
  }

  .filterCheckbox__span{
      margin: 0 15px 0 19px;
  }
}

@media screen and (max-width: 560px) {
  .filterCheckbox {
    padding-top: 74px;
  }

  .filterCheckbox__span{

      font-size: 12px;
      line-height: 18px;
  }
}