.filter {
  margin: 0 auto;
  padding-top: 31px;
  display: flex;
  justify-content: center;
}

.filter__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-left: 12px;
  color: #fff;
}

.filter__checkbox {
  width: 36px;
  height: 20px;
  border: none;
  outline: none;
  background-color: #EBEBEB;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  appearance: none;
}
.filter__checkbox:hover {
  background-color: #e1dcdc;

}

.filter__checkbox::after {
  height: 8px;
  width: 8px;
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #F5F5F5;
  content: '';
  border-radius: 50%;
  transition: 0.3s ease;
}

.filter__checkbox:checked::after {
  height: 8px;
  width: 8px;
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: #fff;
  content: '';
  border-radius: 50%;
  transition: 0.4s ease;
  transform: translate(16px);
}

.filter__checkbox:checked {
  background-color: #3DDC84;
}



@media screen and (max-width: 576px) {
  .filter {
    padding-top: 45px;
  }

  .filter__text {
    font-size: 11px;
    line-height: 18px;
  }
}