.burger__button{
  width: 44px;
  height: 44px;
  display: none;
  border: none;
  background-color: transparent;
  background-image: url('../../images/burger.svg');
  transition: opacity .5s linear;
}

.burger__button:hover{
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 900px){
  .burger__button{
      display: block;
  }
}