.footer{
  padding: 79px 70px 20px;
  background-color: #202020;
}

.footer__subtitle{
  margin: 0 auto;
  width: 320px;
  color: #8B8B8B;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__info{
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
  padding-top: 18px;
  border-top: 1px solid #424242;
}

.footer__year{
  margin: 0;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__links{
  width: 182px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__link{
  text-decoration: none;
  color: #FFF;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity .7s;
}

.footer__link:hover{
  opacity: .7;
  cursor: pointer;
}

@media screen and (max-width: 900px){
  .footer{
      padding: 79px 30px 20px;
  }

  .footer__info{
      margin-top: 20px;
  }
}

@media screen and (max-width: 560px){
  .footer{
      padding: 79px 10px 20px;
  }

  .footer__subtitle{
      width: 300px;
      font-size: 12px;
  }

  .footer__info{
      margin-top: 21px;
      flex-direction: column-reverse;
  }

  .footer__year{
      margin: 30px auto 20px;
      color: #8B8B8B;
      font-size: 12px;
  }

  .footer__links{
      margin: 0 auto;
      flex-direction: column;
      padding-top: 30px;
  }

  .footer__item{
      text-align: center;
  }

  .footer__item:last-child{
      margin-top: 7px;
  }

  .footer__link{
      font-size: 12px;
  }
}