.footer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 67px 70px 20px 70px;
  }
  
  .footer__title {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    text-align: center;
    color: #8B8B8B;
    border-bottom: 1px solid #424242;
  }
  
  .footer__container {
    display: flex;
    align-items:baseline;
  }
  
  .footer__copyright {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    color: #fff;
    flex: 1 1 auto;
  }
  .footer__item {
    list-style: none;
  }
  .footer__list {
    display: flex;
    margin-top: 20px;

  }
  
  .footer__link {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    color: #fff;
    text-decoration: none;
    cursor:pointer;

  }
  
  .footer__link:hover {
    color: #3DDC84;
  }
  
  @media screen and (max-width: 769px) {
    .footer {
      padding: 64px 31px 19px 29px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .footer {
      padding: 62px 10px 10px 10px;
    }
  
    .footer__title {
      padding-bottom: 21px;
      font-size: 12px;
      line-height: 14.52px;
    }
  
    .footer__container {
      margin-top: 0px;
      flex-direction: column;
      align-items: center;
    }
  
    .footer__copyright {
      font-size: 12px;
      line-height: 14.52px;
      color: #8B8B8B;
      order: 10;
      margin-top:30px;
    }
  
    .footer__link {
      margin-left: 0px;
      font-size: 12px;
      line-height: 14.52px;
      margin-bottom: 12px;
    }

    .footer__list {
      padding: 0;
      flex-direction: column;
      align-items: center;
  
    }
    .footer__item {
      margin-top: 10px;
    }

  }