.loggedIn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 59.4%;
}

.loggedIn__movies {
    display: flex;
    justify-content: space-between;
    width: 211px;
}

.loggedIn__movie{
    color: #FFF;
    text-align: right;
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    text-decoration: none;
    transition: opacity .5s linear;
}

.loggedIn__movie:hover{
  color: #3DDC84;
    cursor: pointer;
}

.loggedIn__account{
    display: flex;
    align-items: center;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    text-decoration: none;
    transition: opacity .5s linear;
}

.loggedIn__account:hover{
  color: #3DDC84;
    cursor: pointer;
}

.loggedIn__img{
    margin-left: 12px;
    padding: 9.7px 9.8px 9.6px;
    background-color: #393a3b;
    border-radius: 6px;
}
.loggedIn__img:hover{
  background-color: #3DDC84;
    cursor: pointer;
}
.loggedIn__img-main{
    background-color: #313131;
}

.active{
    font-weight: 500;
}

@media screen and (max-width: 900px){
    .loggedIn{
        display: none;
    }
}